# === Base de datos ===
DB_NAME=sictec
DB_USER=sictecuser
DB_PASSWORD=cambia_esta_clave
DB_PORT=5433

# === API (Laravel) ===
APP_URL=http://localhost:8000
APP_KEY=                          # generar con: php artisan key:generate --show
API_PORT=8000

# === Frontend (React + Vite) ===
WEB_PORT=5173
VITE_API_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3001

# === SRI ===
# Endpoint de consulta de RUC (confirmado que no requiere cookie/token, ver pruebas en Postman)
SRI_CONSULTA_URL=https://srienlinea.sri.gob.ec/sri-catastro-sujeto-servicio-internet/rest/ConsolidadoContribuyente/obtenerPorNumerosRuc