# === Base de datos ===
DB_CONNECTION=pgsql
DB_HOST=postgres #nombre del contenedor docker de PostgreSQL
DB_PORT=5432          # puerto interno, el que usa Laravel — no tocar
DB_PORT_HOST=3002      # puerto para acceder desde tu máquina (opcional)
DB_DATABASE=sictec
DB_USERNAME=sictecuser
DB_PASSWORD=sictecpass

# === API (Laravel) ===
APP_URL=http://localhost:8000
APP_KEY=# generar con: php artisan key:generate --show
API_PORT=8000
APP_ENV=local
APP_DEBUG=true
APP_NAME=SICTEC
LOG_CHANNEL=stack
LOG_LEVEL=debug
SESSION_DRIVER=database
CACHE_STORE=database
FILESYSTEM_DISK=local
SICTEC_API_KEY= #generar con Illuminate\Support\Str::random(40)

# === Frontend (React + Vite) ===
WEB_PORT=3001
VITE_API_URL=http://localhost:8000
VITE_PROXY_TARGET=http://sictec_api:8000  # nombre del servicio Docker
FRONTEND_URL=http://localhost:3001

# === SRI ===
# Endpoint de consulta de RUC
SRI_CONSULTA_URL=https://srienlinea.sri.gob.ec/sri-catastro-sujeto-servicio-internet/rest/ConsolidadoContribuyente